* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    overflow-x: hidden;
}

nav {
    display: flex;
    background-color: violet;
    justify-content: space-around;
    padding: 10px 0;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}

nav .logo {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

nav ul li {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}


.menu {
    display: flex;
    flex-direction: column;
    height: 20px;
    position: relative;
    justify-content: space-between;
}

.menu input {
    position: absolute;
    width: 40px;
    height: 28px;
    opacity: 0;
    left: -5px;
    top: -3px;
    cursor: pointer;
    z-index: 2;
}

.menu span {
    display: block;
    width: 28px;
    height: 3px;
    background-color: black;
    border-radius: 3px;
    transition: all 0.5s;
}



.menu span:nth-child(2) {
    transform-origin: 0 0;
}

.menu span:nth-child(4) {
    transform-origin: 0 100%;
}

.menu input:checked ~ span:nth-child(2) {
    transform: rotate(45deg) translate(-1px, -1px);
}

.menu input:checked ~ span:nth-child(4) {
    transform: rotate(-45deg) translate(-1px, 0);
}

.menu input:checked ~ span:nth-child(3) {
    opacity: 0;
    transform: scale(0);
}






/* media queries */

/* desktop */
@media (min-width: 1300px) {
    html {
        font-size: 90%;
    }
}

/* Tablet */
@media (min-width: 768px) {
    html {
        font-size: 90%;
    }
}

/* mobile */
@media screen and (min-width: 500px) {
    html {
        font-size: 90%;
    }
    nav ul {
        position: absolute;
        right: 0;
        top: 0;
        width: 50%;
        height: 100vh;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        z-index: -1;
        background-color: violet;
        transform: translateX(100%);
        transition: all 1s;
        opacity: 0;
    }

    nav ul.slide {
        opacity: 1;
        transform: translateX(0);
    }
}

